@font-face{
    src: url("../font/Montserrat/Montserrat-Regular.ttf");
}

.root{
   -fx-background: #141414;
   -fx-font-family: "Montserrat";
   -fx-text-fill: #ffffff;

}

.Button
{
    -fx-background-color:#FFEE00;   
    -fx-background-radius:0;
    -fx-background-insets:0;
    -fx-font-family: "Montserrat,Regular";
    -fx-background-radius:15px;
}

.Button:hover{
    -fx-opacity : 0.6;
}

#backBtn{
    -fx-font-family: 'Montserrat';
    -fx-border-radius:20px;
    -fx-border-color:#FFEE00;
    -fx-border-width:1px;
    -fx-background-color:tranparent;
    -fx-text-fill:#FFEE00;
}

#backBtn:hover{
    -fx-background-color:#FFEE00;
    -fx-text-fill:#000000;
}
