.card{
    -fx-background-color: #252525;
    -fx-padding:20px;
    -fx-background-radius: 10px;
    /*dropshadow( <blur-type> , <color> , shadow blur kernel radius ,
    spread [0,1.0] , x offset , y offset )*/
    /*-fx-effect: dropshadow(gaussian, rgba(100,100,100,0.8), 20, 0.3, 8, 8);*/
}
