@font-face{
    font-family: 'Montserrat';
    src: url("../font/Montserrat/Montserrat-Regular.ttf");
}

.description{
    -fx-text-fill : #ffffff;
    -fx-font-family : 'Montserrat';
    -fx-font-size : 18px;
}

#title{
    -fx-text-fill : #ffee00;
    -fx-font-family : 'Montserrat';
    -fx-font-size : 20px;
}

#homeButton{
    -fx-background-insets : 0;
    -fx-background-color : rgba(0,0,0,0);
    -fx-text-fill : #ffee00;
    -fx-padding : 5 15 5 15;
    -fx-border-width : 1px;
    -fx-border-color : #ffee00;
    -fx-border-radius : 20px;
    -fx-font-family : 'Montserrat';
    -fx-font-size : 12px;  
}

#homeButton:hover{
    -fx-background-color : #ffee00;
    -fx-background-radius : 20px;
    -fx-text-fill : #000000;
    -fx-border-color : rgba(0,0,0,0);
}