@font-face{
    font-family: 'Montserrat';
    src: url("../font/Montserrat/Montserrat-Regular.ttf");
}
.root{
    -fx-background-color : #141414;
    -fx-text-fill: #FFEE00;
}

#optionBar{
    -fx-border-width: 0 0 0.5 0;
    -fx-border-color: #FFFFFF;
    -fx-margin : 10 0 10 0;
}

.optionButton{
    -fx-background-color: transparent;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: 'Montserrat';
    -fx-font-size: 16px;
    -fx-alignment : CENTER;
    -fx-background-insets:0;
}

.optionButton:hover{
    -fx-background-color: transparent;
    -fx-text-fill: #FFEE00;

}

.descriptionText{
    -fx-text-fill: #FFFFFF;
    -fx-font-family: 'Montserrat';
    -fx-font-size: 18px;
    -fx-padding : 10px 0 0 20px;
}

.priceTag{
    -fx-text-fill: #FFFFFF;
    -fx-font-family: 'Montserrat';
    -fx-font-size: 18px;
    -fx-padding : 10px 0 0 0;
    
}

#total{
     -fx-text-fill: #FFFFFF;
     -fx-font-family: 'Montserrat';
     -fx-font-size: 20px;
    
}

#backBtn{
    -fx-font-family: 'Montserrat';
    -fx-border-radius:20px;
    -fx-border-color:#FFEE00;
    -fx-border-width:1px;
    -fx-background-color:tranparent;
    -fx-text-fill:#FFEE00;
}

#backBtn:hover{
    -fx-background-color:#FFEE00;
    -fx-text-fill:#000000;
}

#nextBtn{
    -fx-font-family: 'Montserrat';
}

#nextBtn:hover{
    -fx-text-fill:#FFEE00;
    -fx-background-color:transparent;
    -fx-border-radius:20px;
    -fx-border-color:#FFEE00;
    -fx-border-width:1px;
}

#shoppingCart{
    -fx-text-fill: #FFFFFF;
    -fx-font-family: 'Montserrat';
    -fx-font-size: 24px;
    -fx-padding : 0 0 0 75px;
    
    
}

#shoppingCartBtn {
  -fx-background-image: url("assets/shopping-bag.png");
  -fx-background-size : 40px 40px;
  -fx-background-position: center;
  -fx-background-repeat:no-repeat;
  -fx-background-color: transparent;

}

#shoppingCartBtn:hover {
  -fx-background-image: url("assets/shopping-bag-hovered.png");
  -fx-background-repeat:no-repeat;
  -fx-background-size : 40px 40px;
  -fx-background-position: center;
  -fx-background-color: transparent;
}

#XBtn {
  -fx-background-image: url("assets/X.png");
  -fx-background-size : 25px 25px;
  -fx-background-position: center;
  -fx-background-repeat:no-repeat;
  -fx-background-color: transparent;

}

#XBtn:hover {
  -fx-background-image: url("assets/X-hovered.png");
  -fx-background-repeat:no-repeat;
  -fx-background-size : 25px 25px;
  -fx-background-position: center;
  -fx-background-color: transparent;
}

.shoppingCartTitle{
    -fx-margin: 0 0 15px 0;
    -fx-font-size:18px;
    -fx-text-fill:#FFEE00;
}

.shoppingCartContent{
    -fx-margin: 0 0 15px 0;
    -fx-font-size:18px;
    -fx-text-fill:#FFFFFF; 
}
