@font-face{
    src: url("../font/Montserrat/Montserrat-Regular.ttf");
}

.root {
    -fx-font-family : "Montserrat,Regular";
    -fx-text-fill:#ffffff;
    -fx-background:#000000;
}

.label {
    -fx-fill:#ffffff;
    -fx-font-family : "Montserrat,Regular";
}

.Button {
    -fx-background-color : #FFEE00;
    -fx-background-radius : 0;
    -fx-background-insets : 0;
    -fx-font-family: "Montserrat,Regular";
    -fx-padding : 5px;
    -fx-background-radius : 15px;
}

.Button:hover {
    -fx-opacity : 0.6;
}

.Button:disabled{
    -fx-background-color : #c1c1c1;
    -fx-text-fill : #ffffff;
}

#backButton {
  -fx-background-image: url("assets/back.png");
  -fx-background-size : 30px 30px;
  -fx-background-position: center;
  -fx-background-repeat:no-repeat;
  -fx-background-color: rgba(0,0,0,0);

}

#backButton:hover {
  -fx-background-image: url("assets/back-hovered.png");
  -fx-background-repeat:no-repeat;
  -fx-background-size : 30px 30px;
  -fx-background-position: center;
  -fx-background-color: rgba(0,0,0,0);
}