@font-face{
    src: url("../font/Montserrat/Montserrat-Regular.ttf");
}

.root {
    -fx-font-family : "Montserrat";
    -fx-text-fill:#ffffff;
    -fx-background:#000000;
}

.Button {
    -fx-background-color : #FFCC1D;
    -fx-background-radius : 0;
    -fx-background-insets : 0;
    -fx-font-family: "Montserrat";
    -fx-padding : 5px;
    -fx-background-radius : 15px;
}

#header{
    -fx-text-fill : #FFFFFF;
    -fx-font-family : 'Montserrat';
    -fx-font-size : 18px;
    
}

.descriptionText{
    -fx-text-fill : #FFFFFF;
    -fx-font-size : 15px;
    -fx-font-family : 'Montserrat';
}

#backButton {
  -fx-background-image: url("assets/back.png");
  -fx-background-size : 30px 30px;
  -fx-background-position: center;
  -fx-background-repeat:no-repeat;
  -fx-background-color: rgba(0,0,0,0);

}

#backButton:hover {
  -fx-background-image: url("assets/back-hovered.png");
  -fx-background-repeat:no-repeat;
  -fx-background-size : 30px 30px;
  -fx-background-position: center;
  -fx-background-color: rgba(0,0,0,0);
}

#bookButton{
    -fx-background-color : rgba(0,0,0,0);
    -fx-text-fill : #FFEE00;
    -fx-font-size : 14px;
    -fx-border-radius : 20;
    -fx-border-color : #FFEE00;
    -fx-font-family: "Montserrat";
    -fx-padding : 5px; 
    
}

#bookButton:hover{
    -fx-background-color : #FFEE00;
    -fx-text-fill : #000000;
    -fx-background-radius : 20;
    -fx-background-insets : 0;
    -fx-font-family: "Montserrat";
    -fx-padding : 5px; 
}