/*
 * Empty Stylesheet file.
 */

#homeButton {
  -fx-background-image: url("assets/profile/home-white.png");
  -fx-background-size : 35px 35px;
  -fx-background-position: center;
  -fx-background-repeat:no-repeat;
  -fx-background-color: rgba(0,0,0,0);

}

#homeButton:hover {
  -fx-background-image: url("assets/profile/home-yellow.png");
  -fx-background-repeat:no-repeat;
  -fx-background-size : 35px 35px;
  -fx-background-position: center;
  -fx-background-color: rgba(0,0,0,0);
}
