.sideBar{
    -fx-background-color: #252525;
    -fx-border-color: #555555;
    -fx-border-style: solid;
    -fx-border-width: 0 1 0 0;
}

.closeBtn{
    -fx-background-color:transparent;
    -fx-text-fill: white;
    -fx-font-size:22;
}

.closeBtn:hover{
    -fx-text-fill: #ffee00;
}

.profileLabel{
    -fx-font-size:18;
}

.profileText{
    -fx-background-color: #C4C4C4;
    -fx-background-radius: 20;
    -fx-padding: 8px 10px 8px 10px;
    -fx-font-size:16;
}

.cancelBtn{
    ;
}

.confirmBtn{
    ;
}

.historyHeading{
   -fx-font-weight: bold;
    
}

.historyText{
}
