/*
 * Empty Stylesheet file.
 */

.check-box>.box{
    -fx-background-color: rgba(0,0,0,0);
}

.check-box>.box>.mark {
  -fx-background-position: center;
  -fx-background-repeat: stretch;
  -fx-shape: none;
  -fx-padding: 20;
  -fx-background-color: rgba(0,0,0,0);
}

.availableSeat>.box>.mark{
    -fx-background-image: url("assets/availableSeat.png");
}

.availableSeat:selected>.box>.mark{
  -fx-background-image: url("assets/selectedSeat.png");
}


.soldSeat:disabled>.box>.mark{
    -fx-background-image: url("assets/bookedSeat.png");
}