/*
 * Empty Stylesheet file.
 */
@font-face{
    src: url("../font/Montserrat/Montserrat-Regular.ttf");
}

.seatsLabel{
    -fx-text-fill:#ffffff;
    -fx-background:#000000;
    -fx-font-family: "Montserrat,Regular";
    -fx-text-align: center;
}

.check-box>.box{
    -fx-background-color: rgba(0,0,0,0);
}

.check-box>.box>.mark {
  -fx-background-image: url("assets/availableSeat.png");
  -fx-background-position: center;
  -fx-background-repeat: stretch;
  -fx-background-color: rgba(0,0,0,0);
  -fx-shape: none;
  -fx-padding: 20;
}

.check-box:selected>.box>.mark{
  -fx-background-color: rgba(0,0,0,0);
  -fx-background-image: url("assets/selectedSeat.png");
}

#soldSeat{
    -fx-background-color: rgba(0,0,0,0);
    -fx-background-image: url("assets/bookedSeat.png");
}