@font-face{
    src: url("../font/Montserrat/Montserrat-Regular.ttf");
}

.root{
   -fx-background: #141414;
   -fx-font-family: "Montserrat";
   -fx-text-fill: #ffffff;
}

.Button {
    -fx-background-color : #FFCC1D;
    -fx-background-radius : 0;
    -fx-background-insets : 0;
    -fx-font-family: "Montserrat,Regular";
    -fx-padding : 5px;
}

.Button:hover {
    -fx-opacity : 0.6;
}

