@font-face{
    src: url("../font/Montserrat/Montserrat-Regular.ttf");
}

.root{
   -fx-background: #141414;
   -fx-font-family: "Montserrat";
   -fx-text-fill: #ffffff;
}

.Button {
    -fx-background-color : #FFEE00;
    -fx-background-radius : 0;
    -fx-background-insets : 0;
    -fx-font-family: "Montserrat,Regular";
    -fx-padding : 5px;
}

.Button:hover {
    -fx-opacity : 0.6;
}

#toProfile:hover{
    -fx-text-fill : #FFEE00;
}

.InfoButton:hover{
    -fx-background-color : #FFEE00;
    -fx-text-fill : #000000;
    -fx-background-radius : 20;
    -fx-background-insets : 0;
    -fx-font-family: "Montserrat,Regular";
    -fx-padding : 5px; 
}

.InfoButton{
    -fx-background-color : rgba(0,0,0,0);
    -fx-text-fill : #FFEE00;
    -fx-border-radius : 20;
    -fx-border-color : #FFEE00;
    -fx-font-family: "Montserrat,Regular";
    -fx-padding : 5px; 
}

.BookButton:hover{
    -fx-background-color : #FFFFFF;
    -fx-text-fill : #000000;
    -fx-background-radius : 20;
    -fx-background-insets : 0;
    -fx-font-family: "Montserrat,Regular";
    -fx-padding : 5px; 
}

.BookButton{
    -fx-background-color : rgba(0,0,0,0);
    -fx-text-fill : #FFFFFF;
    -fx-border-radius : 20;
    -fx-border-color : #FFFFFF;
    -fx-font-family: "Montserrat,Regular";
    -fx-padding : 5px; 
    
}