@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.root{
    -fx-background: #141414;
    -fx-font-family: 'Montserrat', sans-serif;
    -fx-font-size: 16;
    -fx-text-fill: #ffffff;
}

.Button {
    -fx-background-color : #FFEE00;
    -fx-background-radius : 10;
    -fx-background-insets : 0;
    -fx-font-size: 12;
    -fx-padding : 8px 10px 8px 10px;
}

.Button:hover {
    -fx-opacity : 0.6;
    -fx-background-insets : 0;
    -fx-cursor: hand;
}

.Button:disabled{
    -fx-background-color : #c1c1c1;
    -fx-text-fill : #ffffff;
}

#toProfile:hover{
    -fx-text-fill : #FFEE00;
}

.InfoButton:hover{
    -fx-background-color : #FFEE00;
    -fx-text-fill : #000000;
    -fx-background-radius : 20;
    -fx-background-insets : 0;
    -fx-font-family: "Montserrat";
    -fx-padding : 5px;
    -fx-cursor: hand;
    -fx-font-size: 11;
}

.InfoButton{
    -fx-background-color : rgba(0,0,0,0);
    -fx-text-fill : #FFEE00;
    -fx-border-radius : 20;
    -fx-border-color : #FFEE00;
    -fx-font-size: 11;
}

.BookButton:hover{
    -fx-background-color : #FFFFFF;
    -fx-text-fill : #000000;
    -fx-background-radius : 20;
    -fx-cursor: hand;
    -fx-font-size: 11;
}

.BookButton{
    -fx-background-color : rgba(0,0,0,0);
    -fx-text-fill : #FFFFFF;
    -fx-border-radius : 20;
    -fx-border-color : #FFFFFF;
    -fx-font-size: 11;
}

.header1{
    -fx-font-size: 18;
    -fx-font-weight: 500;
}

.pageHeader{
    -fx-font-size: 28;
    -fx-font-weight: bold;
}

.greyText{
    -fx-text-fill: #939393;
}

.errorLabel{
    -fx-font-size: 12;
    -fx-padding:5 0 0 5;
}

.text-field{
    -fx-background-radius:5;
    -fx-padding: 5 8 5 8;
    -fx-font-size: 14;
}

.password-field{
    -fx-background-radius:5;
    -fx-padding: 5 8 5 8;
    -fx-font-size: 14;
}

.yellowButton{
    -fx-background-radius:20px;
    -fx-background-color:#FFEE00;
    -fx-text-fill:#000000;
    -fx-font-size: 12;
    -fx-padding : 8px 10px 8px 10px;
    -fx-border-radius:20px;
    -fx-border-color:#FFEE00;
    -fx-border-width:1px;
}

.outlineButton{
    -fx-border-radius:20px;
    -fx-border-color:#FFEE00;
    -fx-border-width:1px;
    -fx-background-color:rgba(0,0,0,0);
    -fx-text-fill:#FFEE00;
    -fx-font-size: 12;
    -fx-padding : 8px 10px 8px 10px;
}

.yellowButton:hover, .outlineButton:hover{
    -fx-opacity: 0.6;
}
