<html>
    <head>
        <style>
            #mainBody{
                background-color : #000000;
                padding : 20px 50px 20px 50px;
            }
            p,h1,h3,li,td{
                color : #FFFFFF;
            }
            #GSClogo{
                display : block;
                padding : 50px 50px 50px 0px;
                margin-left : auto;
                margin-right : auto;
                width : 482px;
                height : 98px;
            }
        </style>
    </head>
    <body>
        <div id = "mainBody" >
        <table id="Sect1">
                <tbody><tr>
                        <td>
                                <img id="GSClogo" src="cid:logoimage" alt="GSC Cinemas Online Booking Confirmation">
                                <p>Customer service: 03-7713 7888 <span class="il">GSC</span>&nbsp; Email: <a href="mailto:cs@gsc.com.my" target="_blank">feedback@<span class="il">gsc</span>.com.my</a> &nbsp; Website: <a href="http://www.gsc.com.my" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://www.gsc.com.my&amp;source=gmail&amp;ust=1637488989206000&amp;usg=AOvVaw3fW-Ft8pR9DtS5AZyzfHYC">www.<span class="il">gsc</span>.com.my</a></p>
                        </td>
                </tr>
        </tbody></table>
        <table id="Sect2">
                <tbody><tr>
                        <td>
                                <h1>YOUR RESERVATION</h1>
                                <h3>Hello, %s.</h3>				
                                <p>Thank you for making <span class="il">GSC</span> <span class="il">Cinemas</span> your preferred choice. We are pleased to confirm your booking, with all details attached in this email. Enjoy your movie!</p>
                        </td>
                </tr>
        </tbody></table>
        <table id="Sect3">
                <colgroup>
                        <col width="225px">
                        <col>
                </colgroup>
                <tbody><tr>
                        <td>Booking number:</td>
                        <td>%s</td>
                </tr>
                <tr>
                        <td>Booking ID:</td>
                        <td>%s</td>
                </tr>

                <tr>
                        <td><span class="il">Cinema</span>:</td>
                        <td><span class="il">GSC</span> Kuala Lumpur - MidValley</td>
                </tr>
                <tr>
                        <td>Movie:</td>
                        <td><div>%s</div><div></div></td>
                </tr>      	    
                <tr>
                        <td>Date:</td>
                        <td>%s</td>
                </tr>
                <tr>
                        <td>Time:</td>
                        <td>%s</td>
                </tr>
                <tr>
                        <td>Seats:</td>
                        <td>%s</td>
                </tr>
                <tr colspan="2">
                        <td>Booking fee:</td>
                        <td>RM1.50</td>
                </tr>
                <tr>
                        <td>Total payment:</td>
                        <td>RM%.2f</td>
                </tr>
        </tbody></table>
        <table id="Sect4">
                <tbody><tr>
                        <td>
                                <h3>Terms &amp; Conditions</h3>
                                <ul>
                                        <li>To gain entry into your movie, kindly present this confirmation email at the ticket-tearing point.</li>
                                        <li>All website purchases are not refundable and not exchangeable.</li>					
                                        <li>For purchases of food &amp; beverage items via <span class="il">GSC</span> <span class="il">Cinemas</span>' website, kindly proceed to the following counters for collection <b>BEFORE</b> entering the <span class="il">cinema</span> hall</li>
                                        <li>ALL F&amp;B items MUST be collected before or on the day of the movie.</li>
                                </ul>
                        </td>
                </tr>
        </tbody></table>
        </div>
    </body>
</html>