<html>
    <head>
        <style>
            #mainBody{
                background-color : #000000;
                padding : 20px 50px 20px 50px;
            }
            p,h1,h3,li,td{
                color : #FFFFFF;
            }
            #GSClogo{
                display : block;
                padding : 50px 50px 50px 0px;
                margin-left : auto;
                margin-right : auto;
                width : 482px;
                height : 98px;
            }
        </style>
    </head>    
    <body>
        <div id = "mainBody">
            <table id = "Sect1">
                <tbody>
                    <tr>
                        <td>
                            <img id="GSClogo" src = "cid:logoimage" alt = "GSC Cinemas Change Account Password"
                            <p>Customer service: 03-7713 7888 <span class="il">GSC</span>&nbsp; Email: <a href="mailto:cs@gsc.com.my" target="_blank">feedback@<span class="il">gsc</span>.com.my</a> &nbsp; Website: <a href="http://www.gsc.com.my" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://www.gsc.com.my&amp;source=gmail&amp;ust=1637488989206000&amp;usg=AOvVaw3fW-Ft8pR9DtS5AZyzfHYC">www.<span class="il">gsc</span>.com.my</a></p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table id = "Sect2">
                <tbody><tr>
                    <h1>Change GSC Account Password</h1>
                    <h3>Hello, %s.</h3>				
                    <p>You recently made a request to change your GSC Account Password. Please use the OTP password below to proceed.</p>
                    <br>
                    <h3>%s</h3>
                    <p>If you did not make this request and you believe an unauthorized person has accessed your account, you should go to reset your password immediately. Then sign into your GSC account page to review and update your security settings.</p><br>
                    <p>Sincerely,</p>
                    <h4>GSC Supports</h4>
                </tr></tbody>
            </table>
        </div>
    </body>
</html>